In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time
import requests
import re

In [2]:
driver=webdriver.Chrome(r'C:\\Users\\Harshit Reddy\\Downloads\\chromedriver_win32\\chromedriver.exe')

1. Write a python program which searches all the product under a particular product from
www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user 
input is ‘guitar’. Then search for guitars.

In [3]:
url='http://www.amazon.in/'
driver.get(url)

In [8]:
user_input=input('Enter the product:')

Enter the product:Guitar

In [10]:
search_product=driver.find_element_by_id("twotabsearchtextbox")
search_product.send_keys(user_input)
search_btn=driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

2. In the above question, now scrape the following details of each product listed in first 3 pages 
of your search results and save it in a dataframe and csv. In case if any product has less than 3 
pages in search results then scrape all the products available under that product vertical. 
Details to be scraped are: "Brand Name", "Name of the Product", "Rating", "No. of Ratings", 
"Price", "Return/Exchange", "Expected Delivery", "Availability", "Other Details" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it 
by “-“.

In [11]:
product_urls = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    url=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')       
    for i in url:
        product_urls.append(i.get_attribute("href"))                       
    nxt_button=driver.find_element_by_xpath("//li[@class='a-last']//a") 
    nxt_button.click()
    time.sleep(2)

In [12]:
Brand=[]   
Name=[]
Rating=[]
no_of_ratings=[]
Price=[]
Return=[]
expected_delivery=[]
Availability=[] 
Other_Details=[]

for url in product_urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        brand = driver.find_element_by_xpath('//a[@id="bylineInfo"]')      
        Brand.append(brand.text)
    except NoSuchElementException:
        Brand.append('-')    


    time.sleep(1)
    try:
        name = driver.find_element_by_id('productTitle')      
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')


    time.sleep(1)    
    try:
        rating = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]//span')  
        Rating.append(rating.text)
    except NoSuchElementException:
        Rating.append('-')


    time.sleep(1)
    try:
        no_rating = driver.find_element_by_xpath('//span[@class="a-size-base a-color-secondary"]')  
        no_of_ratings.append(no_rating.text)
    except NoSuchElementException:
        no_of_ratings.append('-')


    time.sleep(1)
    try:
        price = driver.find_element_by_xpath('//td[@class="a-span12"]')  
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-')


    time.sleep(1)
    try:
        return_ = driver.find_element_by_xpath('//a[@class="a-size-small a-link-normal a-text-normal"]')  
        Return.append(return_.text)
    except NoSuchElementException:
        Return.append('-')


    time.sleep(1)
    try:
        exptd_dlvry= driver.find_element_by_xpath('//span[@class="a-color-error"]')  
        expected_delivery.append(exptd_dlvry.text)
    except NoSuchElementException:
         expected_delivery.append('-')


    time.sleep(1)         
    try:
        avl= driver.find_element_by_xpath('//span[@class="a-size-medium a-color-success"]')  
        Availability.append(avl.text)
    except NoSuchElementException:
        Availability.append('-')



    time.sleep(1)   
    try:
        othr_dtls= driver.find_element_by_xpath('//ul[@class="a-unordered-list a-vertical a-spacing-mini"]')  
        Other_Details.append(othr_dtls.text)
    except NoSuchElementException:
        Other_Details.append('-')

In [15]:
Amazon=pd.DataFrame({'Brand':Brand,'Name':Name,'Rating':Rating,'No. of ratings':no_of_ratings,'Price':Price,
                        'Return/Exchange':Return,'Expected Delivery':expected_delivery,'Availability':Availability,
                        'Other Details':Other_Details,'URL':product_urls})
Amazon

,Brand,Name,Rating,No. of ratings,Price,Return/Exchange,Expected Delivery,Availability,Other Details,URL
0,Brand: Vigor,VIGOR Guitar Toys for Kids 4 - String Acoustic...,-,-,₹ 749.00,Pay on Delivery,-,In stock.,Very Crisp and Clear Sound of Strings\nThis gu...,https://www.amazon.in/gp/slredirect/picassoRed...
1,Brand: OANGO,OANGO Plastic 4-String Acoustic Guitar Learnin...,4.1 out of 5,94 global ratings,₹ 794.00,7 Days Returnable,-,In stock.,4 Strings wooden finish guitar with adjustable...,https://www.amazon.in/gp/slredirect/picassoRed...
2,Visit the WeKidz Store,wekidz™ premium quality musical guitar for kid...,2.9 out of 5,11 global ratings,₹ 949.00,7 Days Returnable,-,Only 2 left in stock.,BRAND : A known and popular brand WeKidz\nMate...,https://www.amazon.in/gp/slredirect/picassoRed...
3,Brand: Modernshop,Modernshop 4 String Musical Guitar for Kids In...,-,-,₹ 849.00,Pay on Delivery,-,In stock.,4 Strings wooden finish guitar with adjustable...,https://www.amazon.in/gp/slredirect/picassoRed...
4,Visit the JUAREZ Store,JUAREZ JAP60 Guitar Plectrums Pick Set of Vari...,4.4 out of 5,362 global ratings,₹ 149.00 Fulfilled,7 Days Replacement,-,In stock.,6 pieces Guitar plectrums/Pick of various thic...,https://www.amazon.in/JUAREZ-JAP60-Plectrums-T...
...,...,...,...,...,...,...,...,...,...,...
160,Visit the Brunte Store,"Brunte Big Musical Electric Guitar Kids Toy, B...",-,-,₹ 766.00,Pay on Delivery,-,In stock.,Best Quality big musical electric Guitar Kids ...,https://www.amazon.in/Brunte-Musical-Electric-...
161,Visit the MUSTANG Store,Tuner Clip on Chromatic Guitar Bass Violin Uku...,2.7 out of 5,3 global ratings,₹ 588.00,7 Days Replacement,-,In stock.,Rich Colors and Thickness Guitar picks can mak...,https://www.amazon.in/Chromatic-Guitar-Violin-...
162,Brand: maruti fashion,Guitar Toy for Kids by maruti fashion|Guitar T...,5 out of 5,1 global rating,₹ 649.00,7 Days Returnable,-,In stock.,Easy to use and play This toy coloured Guitar ...,https://www.amazon.in/maruti-fashion-Microphon...
163,Brand: Jingyig,"Mini Musical Instrument, Miniature Guitar Deco...",-,-,-,10 Days Returnable,-,,It is suitable for different places such as li...,https://www.amazon.in/Musical-Instrument-Minia...
164,Visit the MUSTANG Store,MUSTANG 4pcs Guitar Banjo Ukulele Picks Plectr...,3.6 out of 5,42 global ratings,₹ 245.00 Fulfilled,7 Days Replacement,-,In stock.,"Including 2 different types of picks, 3pcs fin...",https://www.amazon.in/MUSTANG-Ukulele-Plectrum...

3. Write a python program to access the search bar and search button on images.google.com and 
scrape 100 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’.

In [33]:
url = "https://images.google.com/"
driver.get(url)

In [29]:
search_bar = driver.find_element_by_xpath('//*[@id="sbtc"]/div/div[2]/input')   
search_bar.send_keys("fruits") 
search_button = driver.find_element_by_xpath('//*[@id="sbtc"]/button')   
search_button.click()      

for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)")
    
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []
img_data = []
for image in images:
    source= image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
            
            
for i in range(len(img_urls)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls[i])

Downloading 0 of 100 images
Downloading 1 of 100 images
Downloading 2 of 100 images
Downloading 3 of 100 images
Downloading 4 of 100 images
Downloading 5 of 100 images
Downloading 6 of 100 images
Downloading 7 of 100 images
Downloading 8 of 100 images
Downloading 9 of 100 images
Downloading 10 of 100 images
Downloading 11 of 100 images
Downloading 12 of 100 images
Downloading 13 of 100 images
Downloading 14 of 100 images
Downloading 15 of 100 images
Downloading 16 of 100 images
Downloading 17 of 100 images
Downloading 18 of 100 images
Downloading 19 of 100 images
Downloading 20 of 100 images
Downloading 21 of 100 images
Downloading 22 of 100 images
Downloading 23 of 100 images
Downloading 24 of 100 images
Downloading 25 of 100 images
Downloading 26 of 100 images
Downloading 27 of 100 images
Downloading 28 of 100 images
Downloading 29 of 100 images
Downloading 30 of 100 images
Downloading 31 of 100 images
Downloading 32 of 100 images
Downloading 33 of 100 images
Downloading 34 of 100 images
Downloading 35 of 100 images
Downloading 36 of 100 images
Downloading 37 of 100 images
Downloading 38 of 100 images
Downloading 39 of 100 images
Downloading 40 of 100 images
Downloading 41 of 100 images
Downloading 42 of 100 images
Downloading 43 of 100 images
Downloading 44 of 100 images
Downloading 45 of 100 images
Downloading 46 of 100 images
Downloading 47 of 100 images
Downloading 48 of 100 images
Downloading 49 of 100 images
Downloading 50 of 100 images
Downloading 51 of 100 images
Downloading 52 of 100 images
Downloading 53 of 100 images
Downloading 54 of 100 images
Downloading 55 of 100 images
Downloading 56 of 100 images
Downloading 57 of 100 images
Downloading 58 of 100 images
Downloading 59 of 100 images
Downloading 60 of 100 images
Downloading 61 of 100 images
Downloading 62 of 100 images
Downloading 63 of 100 images
Downloading 64 of 100 images
Downloading 65 of 100 images
Downloading 66 of 100 images
Downloading 67 of 100 images
Downloading 68 of 100 images
Downloading 69 of 100 images
Downloading 70 of 100 images
Downloading 71 of 100 images
Downloading 72 of 100 images
Downloading 73 of 100 images
Downloading 74 of 100 images
Downloading 75 of 100 images
Downloading 76 of 100 images
Downloading 77 of 100 images
Downloading 78 of 100 images
Downloading 79 of 100 images
Downloading 80 of 100 images
Downloading 81 of 100 images
Downloading 82 of 100 images
Downloading 83 of 100 images
Downloading 84 of 100 images
Downloading 85 of 100 images
Downloading 86 of 100 images
Downloading 87 of 100 images
Downloading 88 of 100 images
Downloading 89 of 100 images
Downloading 90 of 100 images
Downloading 91 of 100 images
Downloading 92 of 100 images
Downloading 93 of 100 images
Downloading 94 of 100 images
Downloading 95 of 100 images
Downloading 96 of 100 images
Downloading 97 of 100 images
Downloading 98 of 100 images
Downloading 99 of 100 images

In [32]:
search_bar = driver.find_element_by_xpath('//*[@id="sbtc"]/div/div[2]/input')   
search_bar.send_keys("cars") 
search_button = driver.find_element_by_xpath('//*[@id="sbtc"]/button')   
search_button.click()      

for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)")
    
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []
img_data = []
for image in images:
    source= image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
            
            
for i in range(len(img_urls)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls[i])

Downloading 0 of 100 images
Downloading 1 of 100 images
Downloading 2 of 100 images
Downloading 3 of 100 images
Downloading 4 of 100 images
Downloading 5 of 100 images
Downloading 6 of 100 images
Downloading 7 of 100 images
Downloading 8 of 100 images
Downloading 9 of 100 images
Downloading 10 of 100 images
Downloading 11 of 100 images
Downloading 12 of 100 images
Downloading 13 of 100 images
Downloading 14 of 100 images
Downloading 15 of 100 images
Downloading 16 of 100 images
Downloading 17 of 100 images
Downloading 18 of 100 images
Downloading 19 of 100 images
Downloading 20 of 100 images
Downloading 21 of 100 images
Downloading 22 of 100 images
Downloading 23 of 100 images
Downloading 24 of 100 images
Downloading 25 of 100 images
Downloading 26 of 100 images
Downloading 27 of 100 images
Downloading 28 of 100 images
Downloading 29 of 100 images
Downloading 30 of 100 images
Downloading 31 of 100 images
Downloading 32 of 100 images
Downloading 33 of 100 images
Downloading 34 of 100 images
Downloading 35 of 100 images
Downloading 36 of 100 images
Downloading 37 of 100 images
Downloading 38 of 100 images
Downloading 39 of 100 images
Downloading 40 of 100 images
Downloading 41 of 100 images
Downloading 42 of 100 images
Downloading 43 of 100 images
Downloading 44 of 100 images
Downloading 45 of 100 images
Downloading 46 of 100 images
Downloading 47 of 100 images
Downloading 48 of 100 images
Downloading 49 of 100 images
Downloading 50 of 100 images
Downloading 51 of 100 images
Downloading 52 of 100 images
Downloading 53 of 100 images
Downloading 54 of 100 images
Downloading 55 of 100 images
Downloading 56 of 100 images
Downloading 57 of 100 images
Downloading 58 of 100 images
Downloading 59 of 100 images
Downloading 60 of 100 images
Downloading 61 of 100 images
Downloading 62 of 100 images
Downloading 63 of 100 images
Downloading 64 of 100 images
Downloading 65 of 100 images
Downloading 66 of 100 images
Downloading 67 of 100 images
Downloading 68 of 100 images
Downloading 69 of 100 images
Downloading 70 of 100 images
Downloading 71 of 100 images
Downloading 72 of 100 images
Downloading 73 of 100 images
Downloading 74 of 100 images
Downloading 75 of 100 images
Downloading 76 of 100 images
Downloading 77 of 100 images
Downloading 78 of 100 images
Downloading 79 of 100 images
Downloading 80 of 100 images
Downloading 81 of 100 images
Downloading 82 of 100 images
Downloading 83 of 100 images
Downloading 84 of 100 images
Downloading 85 of 100 images
Downloading 86 of 100 images
Downloading 87 of 100 images
Downloading 88 of 100 images
Downloading 89 of 100 images
Downloading 90 of 100 images
Downloading 91 of 100 images
Downloading 92 of 100 images
Downloading 93 of 100 images
Downloading 94 of 100 images
Downloading 95 of 100 images
Downloading 96 of 100 images
Downloading 97 of 100 images
Downloading 98 of 100 images
Downloading 99 of 100 images

In [34]:
search_bar = driver.find_element_by_xpath('//*[@id="sbtc"]/div/div[2]/input')   
search_bar.send_keys("machine learning") 
search_button = driver.find_element_by_xpath('//*[@id="sbtc"]/button')   
search_button.click()      

for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)")
    
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []
img_data = []
for image in images:
    source= image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
            
            
for i in range(len(img_urls)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls[i])

Downloading 0 of 100 images
Downloading 1 of 100 images
Downloading 2 of 100 images
Downloading 3 of 100 images
Downloading 4 of 100 images
Downloading 5 of 100 images
Downloading 6 of 100 images
Downloading 7 of 100 images
Downloading 8 of 100 images
Downloading 9 of 100 images
Downloading 10 of 100 images
Downloading 11 of 100 images
Downloading 12 of 100 images
Downloading 13 of 100 images
Downloading 14 of 100 images
Downloading 15 of 100 images
Downloading 16 of 100 images
Downloading 17 of 100 images
Downloading 18 of 100 images
Downloading 19 of 100 images
Downloading 20 of 100 images
Downloading 21 of 100 images
Downloading 22 of 100 images
Downloading 23 of 100 images
Downloading 24 of 100 images
Downloading 25 of 100 images
Downloading 26 of 100 images
Downloading 27 of 100 images
Downloading 28 of 100 images
Downloading 29 of 100 images
Downloading 30 of 100 images
Downloading 31 of 100 images
Downloading 32 of 100 images
Downloading 33 of 100 images
Downloading 34 of 100 images
Downloading 35 of 100 images
Downloading 36 of 100 images
Downloading 37 of 100 images
Downloading 38 of 100 images
Downloading 39 of 100 images
Downloading 40 of 100 images
Downloading 41 of 100 images
Downloading 42 of 100 images
Downloading 43 of 100 images
Downloading 44 of 100 images
Downloading 45 of 100 images
Downloading 46 of 100 images
Downloading 47 of 100 images
Downloading 48 of 100 images
Downloading 49 of 100 images
Downloading 50 of 100 images
Downloading 51 of 100 images
Downloading 52 of 100 images
Downloading 53 of 100 images
Downloading 54 of 100 images
Downloading 55 of 100 images
Downloading 56 of 100 images
Downloading 57 of 100 images
Downloading 58 of 100 images
Downloading 59 of 100 images
Downloading 60 of 100 images
Downloading 61 of 100 images
Downloading 62 of 100 images
Downloading 63 of 100 images
Downloading 64 of 100 images
Downloading 65 of 100 images
Downloading 66 of 100 images
Downloading 67 of 100 images
Downloading 68 of 100 images
Downloading 69 of 100 images
Downloading 70 of 100 images
Downloading 71 of 100 images
Downloading 72 of 100 images
Downloading 73 of 100 images
Downloading 74 of 100 images
Downloading 75 of 100 images
Downloading 76 of 100 images
Downloading 77 of 100 images
Downloading 78 of 100 images
Downloading 79 of 100 images
Downloading 80 of 100 images
Downloading 81 of 100 images
Downloading 82 of 100 images
Downloading 83 of 100 images
Downloading 84 of 100 images
Downloading 85 of 100 images
Downloading 86 of 100 images
Downloading 87 of 100 images
Downloading 88 of 100 images
Downloading 89 of 100 images
Downloading 90 of 100 images
Downloading 91 of 100 images
Downloading 92 of 100 images
Downloading 93 of 100 images
Downloading 94 of 100 images
Downloading 95 of 100 images
Downloading 96 of 100 images
Downloading 97 of 100 images
Downloading 98 of 100 images
Downloading 99 of 100 images

4.Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on 
www.flipkart.com and scrape following details for all the search results displayed on 1st page. 
Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, 
“Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Display 
Resolution”, “Processor”, “Processor Cores”, “Battery Capacity”, “Price”, “Product URL”. In 
case if any of the details is missing then replace it by “- “. Save your results in a dataframe 
and CSV.

In [14]:
url='https://www.flipkart.com/'
driver.get(url)
time.sleep(3)
try:
    login_X_button = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')                     
    login_X_button.click()
except NoSuchElementException : 
    print("No Login page")
search_bar = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')    
search_bar.clear()              
search_bar.send_keys("pixel")       
search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

No Login page

In [15]:
flip_urls = []
urls = driver.find_elements_by_xpath('//a[@class="_1fQZEK"]')
for url in urls:
    flip_urls.append(url.get_attribute("href"))
    
    
    
#Make empty lists   
flip_dict = {}
flip_dict["Brand"] = []
flip_dict["Smartphone"] = []
flip_dict["Colour"] = []
flip_dict["RAM"] = []
flip_dict["Storage(ROM)"] = []
flip_dict["Primary Camera"] = []
flip_dict["Secondary Camera"] = []
flip_dict["Display Size"] = []
flip_dict["Display Resolution"] = []
flip_dict["Processor"] = []
flip_dict["Processor Cores"] = []
flip_dict["Battery Capacity"] = []
flip_dict["Battery Type"] = []
flip_dict["Price"] = []
flip_dict["URL"] = []

In [16]:
for url in flip_urls:
    driver.get(url)    # Saving url                                                     
    print("Scraping URL = ", url)
    flip_dict['URL'].append(url)                                                          # Loading the webpage by url
    time.sleep(2)
    
    try:
        read_more = driver.find_element_by_xpath('//button[@class="_2KpZ6l _1FH0tX"]')     # Button for expanding the specs
        read_more.click()
    except NoSuchElementException:
        print("Exception Occured. Moving to next page")
    
    try:
        brand = driver.find_element_by_xpath('//span[@class="B_NuCI"]')      # Extracting Brand from xpath
        flip_dict["Brand"].append(brand.text.split()[0])
    except NoSuchElementException:
        flip_dict['Brand'].append('-')
        
    try:
        price = driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')      # Extracting Price from xpath
        flip_dict['Price'].append(price.text)
    except NoSuchElementException:
        flip_dict['Price'].append('-')
        
    try:
        name = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][1]/table/tbody/tr[3]/td[2]/ul/li')      # Extracting Name from xpath
        flip_dict['Smartphone'].append(name.text)
    except NoSuchElementException:
        flip_dict['Smartphone'].append('-')
    
    try:
        color = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][1]/table/tbody/tr[4]/td[2]/ul/li')      # Extracting colour from xpath
        flip_dict['Colour'].append(color.text)
    except NoSuchElementException:
        flip_dict['Colour'].append('-')
    
    try:
        disp_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][2]/div')
        if disp_chk.text != "Display Features" : raise NoSuchElementException
        disp_size = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][2]/table[1]/tbody/tr[1]/td[2]/ul/li')  # Extracting Display Size from xpath
        flip_dict['Display Size'].append(disp_size.text)
    except NoSuchElementException:
        flip_dict['Display Size'].append('-')
    
    try:
        disp_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][2]/div')
        if disp_chk.text != "Display Features" : raise NoSuchElementException
        disp_res = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][2]/table[1]/tbody/tr[2]/td[2]/ul/li')     # Extracting Display Resolution from xpath
        flip_dict['Display Resolution'].append(disp_res.text)
    except NoSuchElementException:
        flip_dict['Display Resolution'].append('-')
    
    try:                                                                                     # Extracting Processor Cores from xpath
        core_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][3]/table[1]/tbody/tr[3]/td[1]')
        if core_chk.text != "Processor Core" :
            core_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][3]/table[1]/tbody/tr[2]/td[1]')
            if core_chk.text != "Processor Core" : 
                raise NoSuchElementException
            else :
                cores = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][3]/table[1]/tbody/tr[2]/td[2]/ul/li')
        else :
            cores = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][3]/table[1]/tbody/tr[3]/td[2]/ul/li')
        flip_dict['Processor Cores'].append(cores.text)
    except NoSuchElementException:
        flip_dict['Processor Cores'].append('-')
    
    try:
        rom = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][4]/table[1]/tbody/tr[1]/td[2]/ul/li')         # Extracting Storage(ROM) from xpath
        flip_dict['Storage(ROM)'].append(rom.text)
    except NoSuchElementException:
        flip_dict['Storage(ROM)'].append('-')
    
    try:
        ram = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][4]/table[1]/tbody/tr[2]/td[2]/ul/li')                # Extracting RAM from xpath
        flip_dict['RAM'].append(ram.text)
    except NoSuchElementException:
        flip_dict['RAM'].append('-')
    
    try:                                                                                  
        pri_cam = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][5]/table[1]/tbody/tr[2]/td[2]/ul/li')     # Extracting Camera from xpath
        flip_dict['Primary Camera'].append(pri_cam.text)
    except NoSuchElementException:
        flip_dict['Primary Camera'].append('-')
    
    try:                                                                                    # Extracting Secondary Camera from xpath
        cam_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][5]/table[1]/tbody/tr[6]/td[1]')
        if cam_chk != "Secondary Camera" : 
            if driver.find_element_by_xpath('//div[@class="_3k-BhJ"][5]/table[1]/tbody/tr[5]/td[1]').text == "Secondary Camera":
                sec_cam = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][5]/table[1]/tbody/tr[5]/td[2]/ul/li')
            else :
                raise NoSuchElementException
        else :
            sec_cam = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][5]/table[1]/tbody/tr[6]/td[2]/ul/li')
        flip_dict['Secondary Camera'].append(sec_cam.text)
    except NoSuchElementException:
        flip_dict['Secondary Camera'].append('-')
        
    try:
        if driver.find_element_by_xpath('//div[@class="_3k-BhJ"][10]/div').text != "Battery & Power Features" :   # Extracting Battery Capacity from xpath
            if driver.find_element_by_xpath('//div[@class="_3k-BhJ"][9]/div').text == "Battery & Power Features" :
                bat_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][9]/table/tbody/tr/td[1]')
                if bat_chk.text != "Battery Capacity" : raise NoSuchElementException
                bat_cap = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][9]/table/tbody/tr/td[2]/ul/li')                
            elif driver.find_element_by_xpath('//div[@class="_3k-BhJ"][8]/div').text == "Battery & Power Features" :     
                bat_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][8]/table/tbody/tr/td[1]')
                if bat_chk.text != "Battery Capacity" : raise NoSuchElementException
                bat_cap = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][8]/table/tbody/tr/td[2]/ul/li')
            else:
                raise NoSuchElementException
        else :
            bat_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][10]/table/tbody/tr/td[1]')
            if bat_chk.text != "Battery Capacity" : raise NoSuchElementException
            bat_cap = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][10]/table/tbody/tr/td[2]/ul/li')                # Extracting Availability from xpath
        flip_dict['Battery Capacity'].append(bat_cap.text)
    except NoSuchElementException:
        flip_dict['Battery Capacity'].append('-')
    
    try:
        if driver.find_element_by_xpath('//div[@class="_3k-BhJ"][10]/div').text != "Battery & Power Features" :
            if driver.find_element_by_xpath('//div[@class="_3k-BhJ"][9]/div').text == "Battery & Power Features" :
                bat_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][9]/table/tbody/tr[2]/td[1]')
                if bat_chk.text != "Battery Type" : raise NoSuchElementException
                bat_typ = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][9]/table/tbody/tr[2]/td[2]/ul/li')
            elif driver.find_element_by_xpath('//div[@class="_3k-BhJ"][8]/div').text == "Battery & Power Features" :
                bat_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][8]/table/tbody/tr[2]/td[1]')
                if bat_chk.text != "Battery Type" : raise NoSuchElementException
                bat_typ = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][8]/table/tbody/tr[2]/td[2]/ul/li')
            else:
                raise NoSuchElementException
        else :
            bat_chk = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][10]/table/tbody/tr[2]/td[1]')
            if bat_chk.text != "Battery Type" : raise NoSuchElementException
            bat_typ = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][10]/table/tbody/tr[2]/td[2]/ul/li')             # Extracting Battery Type from xpath
        flip_dict['Battery Type'].append(bat_typ.text)
    except NoSuchElementException:
        flip_dict['Battery Type'].append('-')

Scraping URL =  https://www.flipkart.com/google-pixel-4a-just-black-128-gb/p/itm023b9677aa45d?pid=MOBFUSBNAZGY7HQU&lid=LSTMOBFUSBNAZGY7HQUWHTF0C&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFUSBNAZGY7HQU.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/google-pixel-3a-clearly-white-64-gb/p/itmfgk4jfgstaack?pid=MOBFFGFPJSCEXMSG&lid=LSTMOBFFGFPJSCEXMSGODGRZE&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFFGFPJSCEXMSG.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-note-9-shadow-black-64-gb/p/itm70628269ecd57?pid=MOBFXEPZM4DX89AQ&lid=LSTMOBFXEPZM4DX89AQLO98VX&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFXEPZM4DX89AQ.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9-prime-mint-green-64-gb/p/itm592f555768fff?pid=MOBFUSEP5YQJK4RE&lid=LSTMOBFUSEP5YQJK4REH2ETK3&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFUSEP5YQJK4RE.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-note-9-arctic-white-64-gb/p/itm4ab07b858925c?pid=MOBFU3ZFXMWJCSHP&lid=LSTMOBFU3ZFXMWJCSHPXQ6FTB&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFU3ZFXMWJCSHP.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-note-9-aqua-green-64-gb/p/itme8bb16e02dfa2?pid=MOBFU3ZFAB7VQJHY&lid=LSTMOBFU3ZFAB7VQJHY14W4ET&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFU3ZFAB7VQJHY.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-note-9-pebble-grey-64-gb/p/itmb9c65ffe0ee74?pid=MOBFU3ZFQ3GAGANG&lid=LSTMOBFU3ZFQ3GAGANG1QDSWB&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_7&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFU3ZFQ3GAGANG.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9-prime-matte-black-64-gb/p/itmeeb1764ec0fcf?pid=MOBFUSCC57HCZGKG&lid=LSTMOBFUSCC57HCZGKGQ6TSNL&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_8&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFUSCC57HCZGKG.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/lava-gem/p/itm77ce2feac253b?pid=MOBFMR92XWMXWMKE&lid=LSTMOBFMR92XWMXWMKEX8E5VN&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_9&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFMR92XWMXWMKE.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/panasonic-eluga-i6-black-16-gb/p/itm876e1eeb85ac1?pid=MOBFS3GJ5CR7PVEW&lid=LSTMOBFS3GJ5CR7PVEWNORSVR&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_10&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFS3GJ5CR7PVEW.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9-carbon-black-64-gb/p/itm4fb151383983b?pid=MOBFVHMPGATFZXWR&lid=LSTMOBFVHMPGATFZXWRAMCBY4&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_11&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFVHMPGATFZXWR.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9-sky-blue-64-gb/p/itm4fb151383983b?pid=MOBFV5FPUS8UHG9H&lid=LSTMOBFV5FPUS8UHG9HVCOXLI&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_12&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFV5FPUS8UHG9H.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/samsung-galaxy-m21-midnight-blue-64-gb/p/itm322eb5a51f9a2?pid=MOBFSF86NH2HVZAW&lid=LSTMOBFSF86NH2HVZAW125OPX&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_13&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFSF86NH2HVZAW.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9-prime-sunrise-flare-64-gb/p/itmbd255e5962722?pid=MOBFUTBVDZHZSG2P&lid=LSTMOBFUTBVDZHZSG2PDEKID5&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_14&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFUTBVDZHZSG2P.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9a-nature-green-32-gb/p/itmeabd39a0cd669?pid=MOBFVDA5QCGNZKH9&lid=LSTMOBFVDA5QCGNZKH9LPVRPQ&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_15&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFVDA5QCGNZKH9.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/redmi-9a-midnight-black-32-gb/p/itmeabd39a0cd669?pid=MOBFVDA2RWTCFBHZ&lid=LSTMOBFVDA2RWTCFBHZC9GCG4&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_16&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFVDA2RWTCFBHZ.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/micromax-x381/p/itm8210689e26e7a?pid=MOBFT8PFGGFCZHUA&lid=LSTMOBFT8PFGGFCZHUASZ7TOV&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_17&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFT8PFGGFCZHUA.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/samsung-galaxy-m31-space-black-128-gb/p/itmeb29fb2c00580?pid=MOBFPNPS6QGTKBQB&lid=LSTMOBFPNPS6QGTKBQBWLJMAO&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_18&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFPNPS6QGTKBQB.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/samsung-m31s-mirage-blue-128-gb/p/itm3c444f9c5c566?pid=MOBFUZYBUZWNKB6G&lid=LSTMOBFUZYBUZWNKB6GI9XZ0W&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_19&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFUZYBUZWNKB6G.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/jmax-j16/p/itm519d1606f412c?pid=MOBFVYFECGBPJJ5U&lid=LSTMOBFVYFECGBPJJ5UGKAZ1C&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_20&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFVYFECGBPJJ5U.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/itel-vision1-gradation-green-32-gb/p/itmabec72dce88ad?pid=MOBFV6FGB3MXFQN4&lid=LSTMOBFV6FGB3MXFQN4TXDPIN&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_21&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFV6FGB3MXFQN4.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/panasonic-eluga-i8-charcoal-black-32-gb/p/itm83187d4b25e5f?pid=MOBFS3KXGFGYUZPE&lid=LSTMOBFS3KXGFGYUZPEAILZOH&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_22&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFS3KXGFGYUZPE.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/samsung-galaxy-m31s-mirage-blue-128-gb/p/itmad022b9abd4b6?pid=MOBFUYMQUW5EKE7R&lid=LSTMOBFUYMQUW5EKE7RLIUFCT&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_23&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFUYMQUW5EKE7R.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d
Scraping URL =  https://www.flipkart.com/micromax-x381/p/itm8210689e26e7a?pid=MOBFSNQUE2TDA8KY&lid=LSTMOBFSNQUE2TDA8KYNVNPFJ&marketplace=FLIPKART&q=pixel&store=tyy%2F4io&srno=s_1_24&otracker=search&otracker1=search&fm=SEARCH&iid=e4b3c2ab-d793-4e64-82f5-5b3df95999c8.MOBFSNQUE2TDA8KY.SEARCH&ppt=hp&ppn=homepage&ssid=hn11en5kds0000001624949385762&qH=ab4086ecd47c568d

In [57]:
df=pd.DataFrame()
df['name']=flip_dict['Smartphone']
df['price']=flip_dict['Price']
df['color']=flip_dict['Colour']
df['disp_size']=flip_dict['Display Size']
df['disp_res']=flip_dict['Display Resolution']
df['cores']=flip_dict['Processor Cores']
df['ram']=flip_dict['RAM']
df['rom']=flip_dict['Storage(ROM)']
df['pri_cam']=flip_dict['Primary Camera']
df['sec_cam']=flip_dict['Secondary Camera']
df['bat_cap']=flip_dict['Battery Capacity']
df['bat_typ']=flip_dict['Battery Type']
df

,name,price,color,disp_size,disp_res,cores,ram,rom,pri_cam,sec_cam,bat_cap,bat_typ
0,Pixel 4a,"₹31,999",Just Black,14.76 cm (5.81 inch),2340 x 1080 Pixels,Octa Core,6 GB,128 GB,12.2MP Rear Camera,8MP Front Camera,3140 mAh,-
1,Pixel 3a,"₹39,999",Clearly White,14.22 cm (5.6 inch),2220 x 1080 pixels,Octa Core,4 GB,64 GB,12.2MP Rear Camera,8MP Front Camera,3000 mAh,-
2,Note 9,"₹10,999",Shadow Black,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,48MP + 8MP + 2MP + 2MP,-,5020 mAh,Lithium Polymer
3,9 Prime,"₹9,999",Mint Green,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,13MP Rear Camera,8MP Front Camera,5020 mAh,-
4,Note 9,"₹10,999",Arctic White,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,48MP + 8MP + 2MP + 2MP,-,5020 mAh,Lithium Polymer
5,Note 9,"₹12,945",Aqua Green,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,48MP + 8MP + 2MP + 2MP,-,5020 mAh,Lithium Polymer
6,Note 9,"₹10,999",Pebble Grey,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,48MP + 8MP + 2MP + 2MP,-,5020 mAh,Lithium Polymer
7,9 Prime,"₹9,999",Matte Black,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,13MP Rear Camera,8MP Front Camera,5020 mAh,-
8,Gem,"₹1,577",Blue Gold S,7.11 cm (2.8 inch),320 x 240$$pixel,-,32 MB,32 MB,1.3MP Rear Camera,-,1750 mAh,Li-Ion
9,ELUGA I6,"₹5,001",Black,13.84 cm (5.45 inch),960 x 480 pixel,Quad Core,2 GB,16 GB,8MP Rear Camera,5MP Front Camera,3000 mAh,Li-Polymer
10,Redmi 9,"₹9,259",Carbon Black,16.59 cm (6.53 inch),720 x 1600$$pixel,Octa Core,4 GB,64 GB,13MP + 2MP,5MP Front Camera,5000 mAh,Li-Po
11,Redmi 9,"₹9,199",Sky Blue,16.59 cm (6.53 inch),720 x 1600$$pixel,-,4 GB,64 GB,13MP + 2MP,5MP Front Camera,5000 mAh,Li-Po
12,Galaxy M21,"₹15,299",Midnight Blue,16.26 cm (6.4 inch),2340 x 1080$$Pixel,Octa Core,4 GB,64 GB,48MP + 8MP + 5MP,-,6000 mAh,lithium-ion
13,9 Prime,"₹9,999",Sunrise Flare,16.59 cm (6.53 inch),2340 x 1080 Pixels,Octa Core,4 GB,64 GB,13MP Rear Camera,8MP Front Camera,5020 mAh,-
14,Redmi 9A,"₹7,205",Nature Green,16.59 cm (6.53 inch),720 x 1600$$pixel,Octa Core,2 GB,32 GB,13MP Rear Camera,-,5000 mAh,-
15,Redmi 9A,"₹7,225",Midnight Black,16.59 cm (6.53 inch),720 x 1600$$pixel,Octa Core,2 GB,32 GB,13MP Rear Camera,-,5000 mAh,-
16,X381,₹915,Black,4.5 cm (1.77 inch),128 x 160$$pixel,-,32 MB,32 MB,-,-,-,-
17,Galaxy M31,"₹16,889",Space Black,16.26 cm (6.4 inch),2340 x 1080$$pixel,Octa Core,6 GB,128 GB,64MP + 8MP + 5MP + 5MP,32MP Front Camera,6000 mAh,lithium-ion
18,M31s,"₹20,590",Mirage Blue,16.51 cm (6.5 inch),1080 x 2400$$pixel,Octa Core,8 GB,128 GB,64MP + 12MP,32MP Front Camera,6000 mAh,lithium-ion
19,J16,₹699,Black Gold,4.57 cm (1.8 inch),320 x 480$$pixel,-,32 MB,32 MB,-,-,2500 mAh,-
20,VISION1,"₹6,992",GRADATION GREEN,15.46 cm (6.088 inch),1560 x 720$$pixel,Octa Core,2 GB,32 GB,8MP Rear Camera,-,4000 mAh,LI POLY
21,Eluga I8,"₹6,999",Charcoal Black,15.8 cm (6.22 inch),1520 x 720$$pixel,Octa Core,3 GB,32 GB,13MP Rear Camera,8MP Front Camera,4000 mAh,Lithium-ion
22,Galaxy M31s,"₹19,175",Mirage Blue,16.51 cm (6.5 inch),1080 x 2400$$pixel,Octa Core,6 GB,128 GB,Primary Camera,-,-,-
23,X381,₹915,Blue,4.5 cm (1.77 inch),128 x 160$$pixel,-,32 MB,32 MB,-,-,-,-

5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on 
google maps.

In [16]:
url='https://www.google.co.in/maps'
driver.get(url)

In [17]:
search_map=driver.find_element_by_id("searchboxinput") 
search_map.send_keys('Bangalore')
search_button=driver.find_element_by_id('searchbox-searchbutton')
search_button.click()

In [20]:
try:
    url_string = driver.current_url
    print("URL Extracted: ", url_string)
    lat_lng = re.findall(r'@(.*)data',url_string)
    if len(lat_lng):
        lat_lng_list = lat_lng[0].split(",")
        if len(lat_lng_list)>=2:
            lat = lat_lng_list[0]
            lng = lat_lng_list[1]
        print("Latitude = {}, Longitude = {}".format(lat, lng))

except Exception as e:
        print("Error: ", str(e))

URL Extracted:  https://www.google.co.in/maps/place/Bengaluru,+Karnataka/@12.9539974,77.6309395,10z/data=!3m1!4b1!4m5!3m4!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627
Latitude = 12.9539974, Longitude = 77.6309395

6. Write a program to scrap details of all the funding deals for second quarter (i.e. July 20 –
September 20) from trak.in.

In [21]:
url = "https://trak.in/"
driver.get(url)

In [22]:
search_button= driver.find_element_by_xpath('//li[@id="menu-item-51510"]/a').get_attribute('href')
driver.get(search_button)

In [27]:
fund_deals={}
fund_deals['Date']=[]
fund_deals['Startup Name']=[]
fund_deals['Industry/Vertical']=[]
fund_deals['Sub-Vertical']=[]
fund_deals['Location']=[]
fund_deals['Investor']=[]
fund_deals['Investment Type']=[]
fund_deals['Amount(in USD)']=[]


for i in range(48,51):
    date=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[2]'.format(i))
    for j in date:
        fund_deals['Date'].append(j.text)

    startup=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[3]'.format(i))
    for j in startup:
        fund_deals['Startup Name'].append(j.text)

    ind=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[4]'.format(i))
    for j in ind:
        fund_deals['Industry/Vertical'].append(j.text)
    
    sub_ver=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[5]'.format(i))
    for j in sub_ver:
        fund_deals['Sub-Vertical'].append(j.text)

    loc=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[6]'.format(i))
    for j in loc:
        fund_deals['Location'].append(j.text)
    
    investor=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[7]'.format(i))
    for j in investor:
        fund_deals['Investor'].append(j.text)
    
    investment=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[8]'.format(i))
    for j in investment:
        fund_deals['Investment Type'].append(j.text)
    
    amount=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[9]'.format(i))
    for j in amount:
        fund_deals['Amount(in USD)'].append(j.text)
    
fund_df=pd.DataFrame(fund_deals)
fund_df

,Date,Startup Name,Industry/Vertical,Sub-Vertical,Location,Investor,Investment Type,Amount(in USD)
0,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
1,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
2,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
3,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
4,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
5,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
6,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
7,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
8,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
9,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"
10,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
11,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
12,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
13,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
14,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
15,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
16,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
17,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
18,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
19,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
20,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
21,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
22,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
23,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
24,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
25,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
26,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
27,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
28,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
29,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"

7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [28]:
url = "https://www.digit.in/"
driver.get(url)

In [29]:
top_10=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[4]/ul/li[4]/a")
top_10.click()

time.sleep(2)
laptops=driver.find_element_by_xpath("/html/body/div[3]/div/div/div[2]/div[5]/div[1]/div/button[2]")
laptops.click()

time.sleep(2)
best_gaming=driver.find_element_by_xpath("//div[@id='laptops']//div[3]//a")
driver.get(best_gaming.get_attribute('href'))

In [44]:
name=[]
price=[]
os=[]
display=[]
processor=[]
HDD=[]
ram=[]
weight=[]
dimension=[]
GPU=[]

Name=driver.find_elements_by_xpath("//div[@class='right-container']/div/a/h3")
for i in Name:
    name.append(i.text)

OS=driver.find_elements_by_xpath("//div[@class='product-detail']/div/ul/li[1]/div/div")
for i in OS:
    os.append(i.text)  
    
Display=driver.find_elements_by_xpath("//div[@class='product-detail']/div/ul/li[2]/div/div")
for i in Display:
    display.append(i.text)

Processor=driver.find_elements_by_xpath("//div[@class='product-detail']/div/ul/li[3]/div/div")
for i in Processor:
    processor.append(i.text)

Hard_Disk=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[6]/td[3]")
for i in Hard_Disk:
    HDD.append(i.text.split("/")[0])
    
RAM=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[6]/td[3]")
for i in RAM:    
    ram.append(i.text.split("/")[1])

Weight=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[7]/td[3]")
for i in Weight:
    weight.append(i.text)

Dimension=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[8]/td[3]") 
for i in Dimension:
    dimension.append(i.text)
    
Graphics_Processor=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[9]/td[3]") 
for i in Graphics_Processor:
    GPU.append(i.text)

Price=driver.find_elements_by_xpath("//table[@id='summtable']//tr//td[3]")
for i in Price:
    price.append(i.text)

In [45]:
Gaming_Laptop=pd.DataFrame()
Gaming_Laptop['Name']=name
Gaming_Laptop['Price']=price
Gaming_Laptop['OS']=os
Gaming_Laptop['Display']=display
Gaming_Laptop['Processor']=processor
Gaming_Laptop['Hard_Disk']=HDD
Gaming_Laptop['Ram']=ram
Gaming_Laptop['Processor']=processor
Gaming_Laptop['Weight']=weight
Gaming_Laptop['Dimension']=dimension
Gaming_Laptop['Graphics_Processor']=GPU
Gaming_Laptop

,Name,Price,OS,Display,Processor,Hard_Disk,Ram,Weight,Dimension,Graphics_Processor
0,ALIENWARE AREA 51M R2,N/A,WINDOWS 10 HOME,"17.3"" (1920 X 1080)",10TH GENERATION INTEL® CORE™ I7-10700 | 2.90 GHZ,1 TB SSD,16 GBGB DDR4,4.1,27.65 x 402.6 x 319.14,Intel® UHD Graphics 630
1,ALIENWARE M15 R3,₹341990,WINDOWS 10 HOME,"15.6"" (3840 X 2160)",10TH GENERATION INTEL® CORE™ I9-10980HK | NA,1 TB SSD,16 GBGB DDR4,NA,NA,NA
2,ASUS ROG STRIX SCAR 15,N/A,WINDOWS 10 HOME,"15.6"" (1920 X 1080)",AMD RYZEN™ 9 5900HX | 3.3 GHZ,1 TB SSD,16 GBGB DDR4,2.30,35.4 x 25.9 x 2.26,NVIDIA® GeForce RTX™ 3070
3,ASUS ROG ZEPHYRUS G14,₹164990,WINDOWS 10 HOME,"14"" (1920 X 1080)",AMD 3RD GENERATION RYZEN 9 | 3.3 GHZ,1 TB SSD,16 GBGB DDR4,1.65,32.5 x 22.1 x 1.8,NVIDIA GeForce RTX 2060
4,LENOVO LEGION 5I,₹71990,WINDOWS 10 PRO,"15.6"" (1920 X 1080)",10TH GENERATION INTEL® CORE™ I5-10300H | 2.50 GHZ,1 TB SSD,16 GBGB DDR4,2.3,363.06 x 259.61 x 23.57,NVIDIA® GeForce® GTX 1650 4GB
5,ASUS ROG ZEPHYRUS DUO 15,₹193800,WINDOWS 10,"15.6"" (3840 X 1100)",INTEL CORE I7 10TH GEN 10875H | NA,512 GB SSD,4 GBGB DDR4,2.4,268.30 x 360.00 x 20.90,NVIDIA GeForce RTX 2070 Max-Q
6,ACER ASPIRE 7 GAMING,₹56990,WINDOWS 10 HOME,"15.6"" (1920 X 1080)",AMD RYZEN™ 5-5500U HEXA-CORE | NA,512 GB SSD,8 GBGB DDR4,2.15,2.29 x 36.3 x 25.4,NVIDIA® GeForce® GTX 1650

8. Write a python program to scrape the details for all billionaires from www.forbes.com. 
Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, 
“Industry”.

In [70]:
url='http://www.forbes.com/'
driver.get(url)

In [102]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [103]:
Forbes=pd.DataFrame()
Forbes['Rank']=rank
Forbes['Name']=name
Forbes['Networth']=net
Forbes['Age']=age
Forbes['Citizenship']=citizen
Forbes['Source']=source
Forbes['Industry']=industry
Forbes

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
195,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

In [106]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [107]:
Forbes2=pd.DataFrame()
Forbes2['Rank']=rank
Forbes2['Name']=name
Forbes2['Networth']=net
Forbes2['Age']=age
Forbes2['Citizenship']=citizen
Forbes2['Source']=source
Forbes2['Industry']=industry
Forbes2

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,200.,Andreas Struengmann & family,$11 B,71,Germany,pharmaceuticals,Healthcare
1,200.,Thomas Struengmann & family,$11 B,71,Germany,pharmaceuticals,Healthcare
2,203.,Rodolphe Saadé & family,$10.9 B,51,France,shipping,Logistics
3,203.,Dilip Shanghvi,$10.9 B,65,India,pharmaceuticals,Healthcare
4,205.,Tom & Judy Love,$10.8 B,N/A,United States,retail & gas stations,Fashion & Retail
...,...,...,...,...,...,...,...
195,391.,Fredrik Lundberg,$6.7 B,69,Sweden,"real estate, investments",Real Estate
196,391.,Hiroshi Mikitani,$6.7 B,56,Japan,online retail,Fashion & Retail
197,391.,Dmitry Rybolovlev,$6.7 B,54,Russia,fertilizer,Manufacturing
198,391.,Reinhold Schmieding,$6.7 B,66,United States,medical devices,Healthcare
199,400.,Francis Choi,$6.6 B,73,Hong Kong,real estate,Real Estate

In [108]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [109]:
Forbes3=pd.DataFrame()
Forbes3['Rank']=rank
Forbes3['Name']=name
Forbes3['Networth']=net
Forbes3['Age']=age
Forbes3['Citizenship']=citizen
Forbes3['Source']=source
Forbes3['Industry']=industry
Forbes3

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,400.,Bruce Kovner,$6.6 B,76,United States,hedge funds,Finance & Investments
1,400.,Wang Wenjing,$6.6 B,56,China,business software,Technology
2,400.,Zeng Fangqin,$6.6 B,55,China,smartphone components,Technology
3,404.,Brian Armstrong,$6.5 B,38,United States,cryptocurrency,Finance & Investments
4,404.,Chu Mang Yee & family,$6.5 B,61,China,real estate,Real Estate
...,...,...,...,...,...,...,...
195,589.,Lin Shu-hong,$4.8 B,92,Taiwan,petrochemicals,Manufacturing
196,589.,Yuri Milner,$4.8 B,59,Israel,tech investments,Finance & Investments
197,589.,Issad Rebrab & family,$4.8 B,77,Algeria,food,Food & Beverage
198,589.,Thomas Schmidheiny,$4.8 B,75,Switzerland,cement,Construction & Engineering
199,589.,Chairul Tanjung,$4.8 B,58,Indonesia,diversified,Diversified

In [110]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [111]:
Forbes4=pd.DataFrame()
Forbes4['Rank']=rank
Forbes4['Name']=name
Forbes4['Networth']=net
Forbes4['Age']=age
Forbes4['Citizenship']=citizen
Forbes4['Source']=source
Forbes4['Industry']=industry
Forbes4

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,589.,Alan Trefler,$4.8 B,65,United States,software,Technology
1,589.,Radovan Vitek,$4.8 B,49,Czechia,real estate,Real Estate
2,589.,Frank Wang,$4.8 B,40,China,drones,Technology
3,589.,Wang Xicheng & family,$4.8 B,72,China,tires,Manufacturing
4,589.,Wang Zhendong,$4.8 B,44,China,education,Service
...,...,...,...,...,...,...,...
195,775.,Stefan Reimann-Andersen,$3.8 B,57,Germany,consumer goods,Fashion & Retail
196,775.,Renate Reimann-Haas,$3.8 B,69,Germany,consumer goods,Fashion & Retail
197,775.,Dirk Rossmann & family,$3.8 B,74,Germany,drugstores,Fashion & Retail
198,775.,Shaul Shani,$3.8 B,66,Israel,telecom,Telecom
199,775.,Song Fei,$3.8 B,54,China,machinery,Manufacturing

In [113]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [114]:
Forbes5=pd.DataFrame()
Forbes5['Rank']=rank
Forbes5['Name']=name
Forbes5['Networth']=net
Forbes5['Age']=age
Forbes5['Citizenship']=citizen
Forbes5['Source']=source
Forbes5['Industry']=industry
Forbes5

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,775.,Donald Sterling,$3.8 B,86,United States,real estate,Real Estate
1,775.,Ivar Tollefsen,$3.8 B,59,Norway,real estate,Real Estate
2,775.,Don Vultaggio & family,$3.8 B,69,United States,beverages,Food & Beverage
3,775.,Nusli Wadia,$3.8 B,77,India,consumer goods,Food & Beverage
4,775.,Zhang Jin,$3.8 B,49,China,commodities,Diversified
...,...,...,...,...,...,...,...
195,986.,Hoi Kin Hong,$3.1 B,68,Macao,real estate,Real Estate
196,986.,Jin Lei,$3.1 B,55,China,pharmaceuticals,Healthcare
197,986.,Artem Khachatryan,$3.1 B,46,Russia,retail,Fashion & Retail
198,986.,Li Gaiteng,$3.1 B,48,China,hair dryers,Manufacturing
199,986.,Li Zhongchu,$3.1 B,57,China,software,Technology

In [115]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [116]:
Forbes6=pd.DataFrame()
Forbes6['Rank']=rank
Forbes6['Name']=name
Forbes6['Networth']=net
Forbes6['Age']=age
Forbes6['Citizenship']=citizen
Forbes6['Source']=source
Forbes6['Industry']=industry
Forbes6

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,986.,Harald Link,$3.1 B,66,Thailand,diversified,Diversified
1,986.,Sergey Lomakin,$3.1 B,47,Russia,retail,Fashion & Retail
2,986.,Nie Tengyun & family,$3.1 B,45,China,logistics,Service
3,986.,Prasert Prasarttong-Osoth,$3.1 B,88,Thailand,hospitals,Healthcare
4,986.,Penny Pritzker,$3.1 B,61,United States,"hotels, investments",Finance & Investments
...,...,...,...,...,...,...,...
195,1174.,"Henry Sy, Jr.",$2.7 B,68,Philippines,diversified,Diversified
196,1174.,Teresita Sy-Coson,$2.7 B,70,Philippines,diversified,Diversified
197,1174.,Tao Yuequn,$2.7 B,61,China,Contact Lens,Fashion & Retail
198,1174.,Tong Jinquan,$2.7 B,66,China,real estate,Real Estate
199,1174.,Tsai Ming-kai,$2.7 B,71,Taiwan,semiconductors,Technology

In [117]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [118]:
Forbes7=pd.DataFrame()
Forbes7['Rank']=rank
Forbes7['Name']=name
Forbes7['Networth']=net
Forbes7['Age']=age
Forbes7['Citizenship']=citizen
Forbes7['Source']=source
Forbes7['Industry']=industry
Forbes7

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1174.,Yitzhak Tshuva,$2.7 B,72,Israel,real estate,Real Estate
1,1174.,Oprah Winfrey,$2.7 B,67,United States,TV shows,Media & Entertainment
2,1174.,Zhang Wanzhen,$2.7 B,71,China,electronics components,Manufacturing
3,1174.,Mortimer Zuckerman,$2.7 B,83,United States,"real estate, media",Real Estate
4,1205.,Brian Acton,$2.6 B,49,United States,WhatsApp,Technology
...,...,...,...,...,...,...,...
195,1362.,Boris Jordan,$2.3 B,54,United States,cannabis,Manufacturing
196,1362.,Baba Kalyani,$2.3 B,72,India,engineering,Construction & Engineering
197,1362.,Jim Kavanaugh,$2.3 B,58,United States,IT provider,Technology
198,1362.,Mustafa Rahmi Koc,$2.3 B,90,Turkey,diversified,Diversified
199,1362.,Eiichi Kuriwada,$2.3 B,74,Japan,package delivery,Logistics

In [119]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [120]:
Forbes8=pd.DataFrame()
Forbes8['Rank']=rank
Forbes8['Name']=name
Forbes8['Networth']=net
Forbes8['Age']=age
Forbes8['Citizenship']=citizen
Forbes8['Source']=source
Forbes8['Industry']=industry
Forbes8

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1362.,Lai Jianfa,$2.3 B,51,China,express delivery,Logistics
1,1362.,Lam Kong,$2.3 B,56,China,pharmaceuticals,Healthcare
2,1362.,David Xueling Li,$2.3 B,48,China,live streaming service,Technology
3,1362.,Li Xuhui,$2.3 B,52,China,soy sauce,Food & Beverage
4,1362.,Liang Zhaoxian,$2.3 B,56,China,appliances,Manufacturing
...,...,...,...,...,...,...,...
195,1580.,Ibrahim Erdemoglu,$2 B,58,Turkey,carpet,Manufacturing
196,1580.,Andy Fang,$2 B,28,United States,food delivery app,Technology
197,1580.,Fang Hongbo,$2 B,54,China,home appliances,Manufacturing
198,1580.,Kenneth Feld & family,$2 B,72,United States,live entertainment,Media & Entertainment
199,1580.,Walter Frey,$2 B,77,Switzerland,car dealerships,Automotive

In [121]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [122]:
Forbes9=pd.DataFrame()
Forbes9['Rank']=rank
Forbes9['Name']=name
Forbes9['Networth']=net
Forbes9['Age']=age
Forbes9['Citizenship']=citizen
Forbes9['Source']=source
Forbes9['Industry']=industry
Forbes9

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1580.,Yasuhiro Fukushima,$2 B,73,Japan,video games,Media & Entertainment
1,1580.,Dennis Gillings,$2 B,76,United Kingdom,drug testing,Healthcare
2,1580.,Sam Goi,$2 B,74,Singapore,frozen foods,Food & Beverage
3,1580.,Bahaa Hariri,$2 B,54,Lebanon,"real estate, investments",Real Estate
4,1580.,Ilona Herlin,$2 B,56,Finland,"elevators, escalators",Manufacturing
...,...,...,...,...,...,...,...
195,1750.,Jose Roberto Marinho,$1.8 B,65,Brazil,media,Media & Entertainment
196,1750.,Roberto Irineu Marinho,$1.8 B,73,Brazil,media,Media & Entertainment
197,1750.,Miao Shouliang,$1.8 B,66,China,real estate,Real Estate
198,1750.,Romano Minozzi,$1.8 B,86,Italy,"utilities, diversified",Diversified
199,1750.,Nick Molnar,$1.8 B,30,Australia,fintech,Finance & Investments

In [123]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [124]:
Forbes10=pd.DataFrame()
Forbes10['Rank']=rank
Forbes10['Name']=name
Forbes10['Networth']=net
Forbes10['Age']=age
Forbes10['Citizenship']=citizen
Forbes10['Source']=source
Forbes10['Industry']=industry
Forbes10

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1750.,Oei Hong Leong,$1.8 B,73,Singapore,investments,Finance & Investments
1,1750.,Kazuo Okada,$1.8 B,78,Japan,casinos,Gambling & Casinos
2,1750.,John Oyler,$1.8 B,53,United States,biotech,Healthcare
3,1750.,Husnu Ozyegin,$1.8 B,76,Turkey,"finance, diversified",Finance & Investments
4,1750.,Tor Peterson,$1.8 B,56,United States,commodities,Metals & Mining
...,...,...,...,...,...,...,...
195,1931.,Petro Poroshenko,$1.6 B,55,Ukraine,confectionery,Food & Beverage
196,1931.,G. Rajendran,$1.6 B,78,India,jewellery,Fashion & Retail
197,1931.,P.P. Reddy,$1.6 B,63,India,infrastructure,Construction & Engineering
198,1931.,Francisco Jose Riberas Mera,$1.6 B,56,Spain,"steel, autoparts",Manufacturing
199,1931.,Juan Maria Riberas Mera,$1.6 B,52,Spain,"steel, investments",Metals & Mining

In [125]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [126]:
Forbes11=pd.DataFrame()
Forbes11['Rank']=rank
Forbes11['Name']=name
Forbes11['Networth']=net
Forbes11['Age']=age
Forbes11['Citizenship']=citizen
Forbes11['Source']=source
Forbes11['Industry']=industry
Forbes11

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1931.,Subhash Runwal,$1.6 B,77,India,real estate,Real Estate
1,1931.,Deniz Sahenk,$1.6 B,75,Turkey,diversified,Diversified
2,1931.,Bhadresh Shah,$1.6 B,69,India,engineering,Manufacturing
3,1931.,Shen Hua & family,$1.6 B,58,United States,semiconductors,Technology
4,1931.,Barry Silbert,$1.6 B,44,United States,cryptocurrency,Finance & Investments
...,...,...,...,...,...,...,...
195,2141.,Scott Kapnick,$1.4 B,62,United States,private equity,Finance & Investments
196,2141.,Sidney Kimmel,$1.4 B,93,United States,retail,Fashion & Retail
197,2141.,Christine Knauf,$1.4 B,N/A,Germany,building materials,Manufacturing
198,2141.,Karl Knauf,$1.4 B,N/A,Germany,building materials,Manufacturing
199,2141.,Andrei Kosogov,$1.4 B,60,Russia,Banking,Energy

In [127]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [128]:
Forbes12=pd.DataFrame()
Forbes12['Rank']=rank
Forbes12['Name']=name
Forbes12['Networth']=net
Forbes12['Age']=age
Forbes12['Citizenship']=citizen
Forbes12['Source']=source
Forbes12['Industry']=industry
Forbes12

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,2141.,Guilherme Peirao Leal,$1.4 B,71,Brazil,cosmetics,Fashion & Retail
1,2141.,Theodore Leonsis,$1.4 B,65,United States,sports teams,Sports
2,2141.,Li Denghai,$1.4 B,71,China,seed production,Food & Beverage
3,2141.,Liang Qin & family,$1.4 B,49,China,semiconductor devices,Technology
4,2141.,Liang Yaoming,$1.4 B,57,China,diagnostics,Healthcare
...,...,...,...,...,...,...,...
195,2378.,Deng Hui & family,$1.2 B,58,United States,software,Technology
196,2378.,Carl DeSantis,$1.2 B,81,United States,energy drink,Food & Beverage
197,2378.,Mathias Doepfner,$1.2 B,58,Germany,Media,Media & Entertainment
198,2378.,Aydin Dogan,$1.2 B,84,Turkey,media,Media & Entertainment
199,2378.,Marek Dospiva,$1.2 B,51,Czechia,investments,Finance & Investments

In [129]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [130]:
Forbes13=pd.DataFrame()
Forbes13['Rank']=rank
Forbes13['Name']=name
Forbes13['Networth']=net
Forbes13['Age']=age
Forbes13['Citizenship']=citizen
Forbes13['Source']=source
Forbes13['Industry']=industry
Forbes13

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,2378.,Wesley Edens,$1.2 B,59,United States,investments,Finance & Investments
1,2378.,Wolfgang Egger,$1.2 B,55,Germany,real estate,Real Estate
2,2378.,Gabriel Escarrer,$1.2 B,86,Spain,hotels,Service
3,2378.,Fan Zhaoxia & family,$1.2 B,53,China,photovoltaic equipment,Energy
4,2378.,Clement Fayat & family,$1.2 B,89,France,construction,Construction & Engineering
...,...,...,...,...,...,...,...
195,2524.,Low Tuck Kwong,$1.1 B,72,Indonesia,coal,Energy
196,2524.,Lu Weiding,$1.1 B,50,China,diversified,Diversified
197,2524.,Lv Yongxiang,$1.1 B,71,China,magnetic switches,Manufacturing
198,2524.,"Cargill MacMillan, III.",$1.1 B,61,United States,Cargill,Food & Beverage
199,2524.,John MacMillan,$1.1 B,71,United States,Cargill,Food & Beverage

In [131]:
Rank=driver.find_elements_by_xpath('//div[@class="rank"]')
rank=[]
for i in Rank:
    rank.append(i.text)
Name=driver.find_elements_by_xpath('//div[@class="personName"]')
name=[]
for i in Name:
    name.append(i.text)   
Age=driver.find_elements_by_xpath('//div[@class="age"]')
age=[]
for i in Age:
    age.append(i.text)   
Networth=driver.find_elements_by_xpath('//div[@class="netWorth"]')
net=[]
for i in Networth:
    net.append(i.text)  
Source=driver.find_elements_by_xpath('//div[@class="source"]')
source=[]
for i in Source:
    source.append(i.text) 
Citizenship=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
citizen=[]
for i in Citizenship:
    citizen.append(i.text)   
Industry=driver.find_elements_by_xpath('//div[@class="category"]')
industry=[]
for i in Industry:
    industry.append(i.text)

In [132]:
Forbes14=pd.DataFrame()
Forbes14['Rank']=rank
Forbes14['Name']=name
Forbes14['Networth']=net
Forbes14['Age']=age
Forbes14['Citizenship']=citizen
Forbes14['Source']=source
Forbes14['Industry']=industry
Forbes14

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,2524.,Martha MacMillan,$1.1 B,69,United States,Cargill,Food & Beverage
1,2524.,William MacMillan,$1.1 B,66,United States,Cargill,Food & Beverage
2,2524.,Yasseen Mansour,$1.1 B,59,Egypt,diversified,Diversified
3,2524.,John Martin,$1.1 B,69,United States,pharmaceuticals,Healthcare
4,2524.,Carsten Maschmeyer,$1.1 B,61,Germany,finance and investments,Finance & Investments
...,...,...,...,...,...,...,...
150,2674.,Daniel Yong Zhang,$1 B,49,China,e-commerce,Technology
151,2674.,Zhang Yuqiang,$1 B,65,China,Fiberglass,Manufacturing
152,2674.,Zhao Meiguang,$1 B,58,China,gold mining,Metals & Mining
153,2674.,Zhong Naixiong,$1 B,58,China,conglomerate,Diversified
154,2674.,Zhou Wei family,$1 B,54,China,Software,Technology

In [133]:
df=pd.concat([Forbes,Forbes2,Forbes3,Forbes4,Forbes5,Forbes6,Forbes7,Forbes8,Forbes9,Forbes10,Forbes11,Forbes12,Forbes13,Forbes14],ignore_index=True)
df

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
2750,2674.,Daniel Yong Zhang,$1 B,49,China,e-commerce,Technology
2751,2674.,Zhang Yuqiang,$1 B,65,China,Fiberglass,Manufacturing
2752,2674.,Zhao Meiguang,$1 B,58,China,gold mining,Metals & Mining
2753,2674.,Zhong Naixiong,$1 B,58,China,conglomerate,Diversified
2754,2674.,Zhou Wei family,$1 B,54,China,Software,Technology

9.Write a program to extract at least 500 Comments, Comment upvote and time when comment 
was posted from any YouTube Video.

In [3]:
url='http://www.youtube.com/'
driver.get(url)

In [39]:
Comments=driver.find_elements_by_xpath('//div[@class="style-scope ytd-expander"]')
comment=[]
for i in Comments:
    comment.append(i.text) 
Time=driver.find_elements_by_xpath('//yt-formatted-string[@class="published-time-text above-comment style-scope ytd-comment-renderer"]')
time=[]
for i in Time:
    time.append(i.text)
Comment_Upvote=driver.find_elements_by_id('vote-count-middle')
comments=[]
for i in Comment_Upvote:
    comments.append(i.text)

In [25]:
Comment_Upvote=driver.find_elements_by_id('vote-count-middle')
comments=[]
for i in Comment_Upvote:
    comments.append(i.text)
comments[0:500]

['47',
 '1.2K',
 '110',
 '475',
 '896',
 '91',
 '1K',
 '317',
 '62',
 '143',
 '69',
 '214',
 '74',
 '39',
 '106',
 '33',
 '177',
 '62',
 '45',
 '4',
 '465',
 '15',
 '35',
 '13',
 '7',
 '203',
 '17',
 '3',
 '11',
 '21',
 '417',
 '7',
 '4',
 '3',
 '3',
 '1.9K',
 '5',
 '4',
 '4',
 '3',
 '138',
 '10',
 '8',
 '2',
 '3',
 '75',
 '4',
 '7',
 '2',
 '6',
 '174',
 '3',
 '1',
 '2',
 '1',
 '35',
 '4',
 '2',
 '2',
 '2',
 '298',
 '3',
 '1',
 '1',
 '2',
 '60',
 '2',
 '3',
 '2',
 '4',
 '25',
 '3',
 '1',
 '1',
 '2',
 '194',
 '2',
 '',
 '2',
 '6',
 '7',
 '6',
 '',
 '1',
 '3',
 '80',
 '3',
 '5',
 '6',
 '',
 '60',
 '2',
 '1',
 '2',
 '1',
 '18',
 '',
 '2',
 '1',
 '2',
 '26',
 '1',
 '1',
 '1',
 '',
 '23',
 '',
 '',
 '',
 '2',
 '19',
 '',
 '3',
 '',
 '1',
 '9',
 '3',
 '1',
 '',
 '3',
 '7',
 '1',
 '',
 '',
 '',
 '5',
 '',
 '1',
 '',
 '',
 '4',
 '1',
 '4',
 '',
 '',
 '34',
 '2',
 '',
 '1',
 '1',
 '9',
 '1',
 '',
 '',
 '2',
 '9',
 '',
 '1',
 '1',
 '',
 '6',
 '1',
 '5',
 '1',
 '3',
 '4',
 '2',
 '',
 '',
 '1',
 '15',
 '',
 '',
 '',
 '1',
 '7',
 '',
 '',
 '',
 '2',
 '8',
 '1',
 '6',
 '',
 '1',
 '5',
 '1',
 '1',
 '',
 '',
 '7',
 '',
 '1',
 '',
 '',
 '14',
 '1',
 '1',
 '1',
 '1',
 '8',
 '',
 '',
 '',
 '',
 '8',
 '1',
 '',
 '',
 '',
 '5',
 '2',
 '',
 '',
 '3',
 '4',
 '2',
 '1',
 '1',
 '1',
 '4',
 '1',
 '1',
 '',
 '',
 '38',
 '1',
 '',
 '3',
 '',
 '15',
 '',
 '1',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '4',
 '1',
 '',
 '1',
 '2',
 '20',
 '1',
 '5',
 '1',
 '',
 '7',
 '',
 '4',
 '',
 '7',
 '6',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '3',
 '',
 '42',
 '',
 '1',
 '',
 '2',
 '5',
 '',
 '1',
 '',
 '3',
 '5',
 '',
 '1',
 '1',
 '',
 '4',
 '1',
 '',
 '1',
 '1',
 '5',
 '',
 '',
 '1',
 '',
 '4',
 '1',
 '',
 '1',
 '',
 '5',
 '1',
 '',
 '',
 '',
 '3',
 '2',
 '',
 '',
 '',
 '5',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '8',
 '1',
 '',
 '1',
 '',
 '5',
 '',
 '1',
 '',
 '',
 '6',
 '1',
 '2',
 '',
 '',
 '73',
 '',
 '1',
 '1',
 '',
 '6',
 '1',
 '3',
 '1',
 '',
 '3',
 '',
 '',
 '1',
 '',
 '3',
 '',
 '',
 '',
 '',
 '6',
 '',
 '',
 '1',
 '',
 '46',
 '',
 '',
 '',
 '',
 '31',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '2',
 '',
 '4',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '4',
 '',
 '',
 '',
 '',
 '6',
 '',
 '2',
 '',
 '',
 '3',
 '',
 '1',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '19',
 '1',
 '',
 '',
 '2',
 '5',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '1',
 '',
 '13',
 '1',
 '',
 '1',
 '1',
 '275',
 '',
 '',
 '',
 '',
 '4',
 '',
 '',
 '',
 '',
 '12',
 '',
 '',
 '',
 '',
 '3',
 '1',
 '',
 '1',
 '1',
 '5',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '1',
 '4',
 '',
 '1',
 '',
 '',
 '4',
 '',
 '',
 '',
 '',
 '9',
 '',
 '1',
 '',
 '',
 '3',
 '',
 '',
 '',
 '1',
 '3',
 '',
 '',
 '',
 '2',
 '3',
 '',
 '1',
 '',
 '',
 '6',
 '',
 '',
 '',
 '',
 '3',
 '1',
 '',
 '1',
 '1',
 '3',
 '',
 '',
 '',
 '',
 '7',
 '',
 '1',
 '',
 '1',
 '5',
 '',
 '',
 '',
 '']

In [42]:
Youtube=pd.DataFrame()
Youtube['Comments']=comment[2:502]
Youtube['Comment_Upvote']=comments[0:500]
Youtube['Time']=time[0:500]
Youtube

,Comments,Comment_Upvote,Time
0,Have You Heard This -\n\n https://youtu.be/xSm...,47,1 month ago
1,One of the best serial of Indian television......,1.2K,8 months ago
2,Season 1: white\nSeason 2: black\nSeason 3: je...,110,2 months ago
3,Beyhadh 2 was the most dashing serial ever. Ma...,475,10 months ago
4,Jin logo ne is song ko or serial ko dislike ki...,896,10 months ago
...,...,...,...
495,I will wait for maya,5,10 months ago
496,💕💕💕💕💕💕💞💞,,8 months ago
497,Always stunning bhaiya,,10 months ago
498,بخصوص الموسيقى بالدقيقه 2:42 إلى 3:11 إبداع,,7 months ago
499,Maya jey. SinG top,,10 months ago

 For comment upvote(likes), there are some missing values because there were no likes for some of the comments. I have scarapped comment upvote in another cell where you can check the missing values for reference.

10. Write a python program to scrape a data for all available Hostels from 
https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, 
distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms 
from price, facilities and property description.

In [3]:
url='https://www.hostelworld.com/'
driver.get(url)

In [4]:
search_loc=driver.find_element_by_id('search-input-field')
search_loc

In [5]:
search_loc.send_keys('London')

In [6]:
search_btn=driver.find_element_by_id("search-button")
search_btn.click()

In [7]:
Hostel_name=driver.find_elements_by_xpath('//h2[@class="title title-6"]')
name=[]
for i in Hostel_name:
    name.append(i.text)
    
Distance=driver.find_elements_by_xpath('//span[@class="description"]')
dist=[]
for i in Distance:
    dist.append(i.text)
    
Total_Reviews=driver.find_elements_by_xpath('//div[@class="reviews"]')
reviews=[]
for i in Total_Reviews:
    reviews.append(i.text.replace("Total Reviews",' '))
    
Overall_Reviews=driver.find_elements_by_xpath('//div[@class="keyword"]')
review=[]
for i in Overall_Reviews:
    review.append(i.text) 
    
Privates_from_price=driver.find_elements_by_xpath('//div[@class="price-col"]')
price=[]
for i in Privates_from_price:
    price.append(i.text.replace('Privates From\n',' '))
price
Privates=price[0:60:2]

Dorms_from_price=driver.find_elements_by_xpath('//div[@class="price-col"]')
Price=[]
for i in Dorms_from_price:
    Price.append(i.text.replace('Dorms From\n',' '))
Price
Dorms=Price[1:60:2]

Facilities=driver.find_elements_by_xpath('//div[@class="rating-factors prop-card-tablet rating-factors small"]')
facilities=[]
for i in Facilities:
    facilities.append(i.text.replace('\n',' '))

In [9]:
Hostel=pd.DataFrame()
Hostel['Hostel_name']=name
Hostel['Distance']=dist
Hostel['Total_Reviews']=reviews
Hostel['Overall_Reviews']=review[3:]
Hostel['Privates_from_price']=price[0:60:2]
Hostel['Dorms_from_price']=Price[1:60:2]
Hostel['Facilities']=facilities
Hostel

,Hostel_name,Distance,Total_Reviews,Overall_Reviews,Privates_from_price,Dorms_from_price,Facilities
0,St Christopher's Village,Hostel - 1.8km from city centre,10814,Fabulous,Rs3579,Rs1435,Perfect Location Superb Staff Fantastic Cleanl...
1,Generator London,Hostel - 3km from city centre,6729,Very Good,Rs8156,Rs1962,Perfect Location Marvellous Staff Awesome Clea...
2,"PubLove @ The Crown, Battersea",Hostel - 4.7km from city centre,204,Very Good,No Privates Available,Rs1239,Wonderful Location Superb Staff Excellent Clea...
3,Leman House,Hostel - 3.6km from city centre,13,No Rating,Rs5575,No Dorms Available,
4,247london Hostel and Private Rooms,Hostel - 8.2km from city centre,443,No Rating,Rs5265,No Dorms Available,
5,"PubLove @ The Steam Engine, Waterloo",Hostel - 0.5km from city centre,183,Fabulous,Rs7229,Rs1549,Perfect Location Superb Staff Excellent Cleanl...
6,The London Home Hostel,Hostel - 3.6km from city centre,248,Very Good,Rs4130,Rs1631,Wonderful Location Marvellous Staff Fantastic ...
7,Wombat's The City Hostel London,Hostel - 3.6km from city centre,13123,Superb,Rs8023,Rs2453,Perfect Location Superb Staff Fantastic Cleanl...
8,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,3930,Fabulous,Rs4179,Rs1022,Wonderful Location Superb Staff Fantastic Clea...
9,"PubLove @ The Green Man, Paddington",Hostel - 4.3km from city centre,391,Good,Rs6194,Rs1652,Great Location Helpful Staff Excellent Cleanli...
10,Astor Museum Inn,Hostel - 2.2km from city centre,8706,Superb,Rs6504,Rs2065,Perfect Location Superb Staff Fantastic Cleanl...
11,"PubLove @ The White Ferry, Victoria",Hostel - 2.4km from city centre,128,Superb,No Privates Available,Rs1652,Perfect Location Superb Staff Fantastic Cleanl...
12,Prime Backpackers Angel,Hostel - 3.6km from city centre,513,Superb,Rs6153,Rs2443,Perfect Location Superb Staff Fantastic Cleanl...
13,Atlas Hostels,Hostel - 4.3km from city centre,193,No Rating,Rs10118,No Dorms Available,
14,No.8 Willesden Hostel London,Hostel - 10km from city centre,4558,Fabulous,Rs1750,Rs872,Perfect Location Superb Staff Fantastic Cleanl...
15,Well Street Hall,Bed and Breakfast - 6.7km from city centre,0,NEW,Rs4336,No Dorms Available,
16,SoHostel,Hostel - 2km from city centre,3946,Superb,Rs3097,Rs2065,Perfect Location Superb Staff Fantastic Cleanl...
17,The Walrus Hostel,Hostel - 0.2km from city centre,3634,Fabulous,No Privates Available,Rs1719,Perfect Location Superb Staff Fantastic Cleanl...
18,Keystone House Kings Cross,Hostel - 3.5km from city centre,8109,Superb,Rs4299,No Dorms Available,Perfect Location Superb Staff Fantastic Cleanl...
19,Clink261,Hostel - 3.2km from city centre,3165,Superb,Rs7136,Rs1518,Perfect Location Superb Staff Fantastic Cleanl...
20,Burlington Residence,Hostel - 7.1km from city centre,25,Superb,No Privates Available,Rs2106,Perfect Location Superb Staff Fantastic Cleanl...
21,London Waterloo Hostel,Hostel - 0.7km from city centre,2399,Very Good,No Privates Available,Rs1296,Perfect Location Superb Staff Excellent Cleanl...
22,Jaeger Acton Hostel,Hostel - 10.4km from city centre,878,Superb,Rs4130,No Dorms Available,Perfect Location Superb Staff Fantastic Cleanl...
23,Astor Hyde Park,Hostel - 4.3km from city centre,11320,Superb,Rs5162,Rs2168,Perfect Location Superb Staff Fantastic Cleanl...
24,Abercorn House,Hostel - 7.3km from city centre,3652,Very Good,Rs3544,Rs1617,Perfect Location Helpful Staff Fantastic Clean...
25,St Christopher's Oasis-Female Only,Hostel - 1.8km from city centre,593,Fabulous,Rs4611,Rs1642,Perfect Location Superb Staff Good Cleanliness
26,Astor Kensington,Hostel - 4.9km from city centre,6323,Superb,No Privates Available,Rs1824,Perfect Location Superb Staff Fantastic Cleanl...
27,New Cross Inn Hostel,Hostel - 6.1km from city centre,997,Very Good,Rs3531,Rs1103,Wonderful Location Marvellous Staff Excellent ...
28,Mapesbury Hostel,Hostel - 8.2km from city centre,357,Rating,Rs4646,No Dorms Available,Nice Location Good Cleanliness
29,Hootananny Hostel,Hostel - 5km from city centre,1405,Very Good,No Privates Available,Rs1667,Perfect Location Superb Staff Excellent Cleanl...

In [10]:
Hostel_name=driver.find_elements_by_xpath('//h2[@class="title title-6"]')
name=[]
for i in Hostel_name:
    name.append(i.text)
    
Distance=driver.find_elements_by_xpath('//span[@class="description"]')
dist=[]
for i in Distance:
    dist.append(i.text)
    
Total_Reviews=driver.find_elements_by_xpath('//div[@class="reviews"]')
reviews=[]
for i in Total_Reviews:
    reviews.append(i.text.replace("Total Reviews",' '))
    
Overall_Reviews=driver.find_elements_by_xpath('//div[@class="keyword"]')
review=[]
for i in Overall_Reviews:
    review.append(i.text) 
    
Privates_from_price=driver.find_elements_by_xpath('//div[@class="price-col"]')
price=[]
for i in Privates_from_price:
    price.append(i.text.replace('Privates From\n',' '))
price
Privates=price[0:60:2]

Dorms_from_price=driver.find_elements_by_xpath('//div[@class="price-col"]')
Price=[]
for i in Dorms_from_price:
    Price.append(i.text.replace('Dorms From\n',' '))
Price
Dorms=Price[1:60:2]

Facilities=driver.find_elements_by_xpath('//div[@class="rating-factors prop-card-tablet rating-factors small"]')
facilities=[]
for i in Facilities:
    facilities.append(i.text.replace('\n',' '))

In [13]:
Hostel2=pd.DataFrame()
Hostel2['Hostel_name']=name
Hostel2['Distance']=dist
Hostel2['Total_Reviews']=reviews
Hostel2['Overall_Reviews']=review
Hostel2['Privates_from_price']=price[0:60:2]
Hostel2['Dorms_from_price']=Price[1:60:2]
Hostel2['Facilities']=facilities
Hostel2

,Hostel_name,Distance,Total_Reviews,Overall_Reviews,Privates_from_price,Dorms_from_price,Facilities
0,Phoenix Hostel,Hostel - 4.2km from city centre,3393,Fabulous,Rs1889,Rs1239,Perfect Location Superb Staff Excellent Cleanl...
1,Smart Hyde Park Inn Hostel,Hostel - 5km from city centre,6230,Very Good,Rs8356,Rs1079,Perfect Location Marvellous Staff Awesome Clea...
2,YHA London Central,Hostel - 2.9km from city centre,4692,Very Good,Rs2994,No Dorms Available,Wonderful Location Brilliant Staff Excellent C...
3,Smart Russell Square Hostel,Hostel - 2.6km from city centre,9496,Very Good,Rs3878,Rs1182,Perfect Location Marvellous Staff Awesome Clea...
4,Smart Hyde Park View Hostel,Hostel - 5km from city centre,4466,Fabulous,Rs4876,Rs1182,Perfect Location Superb Staff Excellent Cleanl...
5,Astor Victoria,Hostel - 1.8km from city centre,14703,Superb,Rs5162,Rs2375,Perfect Location Superb Staff Fantastic Cleanl...
6,"PubLove @ The Exmouth Arms, Euston",Hostel - 3.4km from city centre,975,Very Good,Rs9911,Rs1549,Perfect Location Marvellous Staff Excellent Cl...
7,International Students House,Hostel - 3.3km from city centre,918,Fabulous,Rs4026,No Dorms Available,Perfect Location Superb Staff Excellent Cleanl...
8,Pickwick Hall,Hostel - 2.3km from city centre,2222,Fabulous,Rs5575,No Dorms Available,Perfect Location Superb Staff Awesome Cleanliness
9,Strand Continental,Hostel - 1.3km from city centre,768,Fabulous,Rs4026,Rs2261,Perfect Location Superb Staff Fantastic Cleanl...
10,Saint James Backpackers,Hostel - 5.5km from city centre,1752,Fabulous,Rs4026,Rs1962,Perfect Location Marvellous Staff Excellent Cl...
11,Best London Hostels,Hostel - 8.2km from city centre,221,No Rating,Rs3269,Rs1583,
12,Le Junction Hostel - Pub & Garden,Hostel - 9.8km from city centre,376,Good,No Privates Available,Rs929,Great Location Brilliant Staff Awesome Cleanli...
13,No.8 Seven Sisters,Hostel - 9km from city centre,3592,Very Good,No Privates Available,Rs769,Wonderful Location Superb Staff Excellent Clea...
14,Park Villa,Hostel - 6.3km from city centre,837,Superb,No Privates Available,Rs2547,Perfect Location Superb Staff Excellent Cleanl...
15,Selina Camden,Hostel - 5.5km from city centre,0,NEW,Rs11553,Rs2765,
16,Urbany Hostel London,Hostel - 5.4km from city centre,95,Superb,Rs4460,Rs1920,Perfect Location Superb Staff Fantastic Cleanl...
17,PubLove @ The Rose & Crown,Hostel - 1.6km from city centre,98,Fabulous,Rs14557,Rs1617,Perfect Location Marvellous Staff Excellent Cl...
18,Venture Hostel,Hostel - 6.9km from city centre,1168,Rating,Rs11522,Rs3985,Brilliant Staff
19,Queen Elizabeth Chelsea,Hostel - 5.7km from city centre,3133,Fabulous,Rs1679,Rs1093,Perfect Location Superb Staff Excellent Cleanl...
20,Kensal Green Backpackers,Hostel - 8.2km from city centre,3601,Very Good,Rs5162,Rs1032,Wonderful Location Marvellous Staff Awesome Cl...
21,London Backpackers,Hostel - 11.9km from city centre,4106,Fabulous,Rs3373,Rs1208,Perfect Location Superb Staff Fantastic Cleanl...
22,Paramount Hotel,Hotel - 5.7km from city centre,25,Fabulous,Rs4302,No Dorms Available,Perfect Location Marvellous Staff Fantastic Cl...
23,Marble Arch Inn,Hotel - 3.5km from city centre,214,No Rating,Rs4775,No Dorms Available,
24,Budget London Apartments,Apartment - 8.2km from city centre,355,Good,Rs4130,Rs1600,Nice Location Helpful Staff Good Cleanliness
25,Chester Hotel Victoria,Hotel - 1.9km from city centre,139,Very Good,Rs4474,No Dorms Available,Perfect Location Marvellous Staff Awesome Clea...
26,Belgrave Hotel London,Hotel - 2.2km from city centre,2,Superb,Rs5059,No Dorms Available,Wonderful Location Superb Staff Fantastic Clea...
27,Colliers Hotel,Hotel - 2.1km from city centre,0,No Rating,Rs3648,No Dorms Available,
28,City Hotel Carlton,Hotel - 3.4km from city centre,38,Good,Rs4061,No Dorms Available,Wonderful Location Good Cleanliness
29,Belgravia Hotel,Hotel - 2.4km from city centre,5,Fabulous,Rs3500,No Dorms Available,Perfect Location Superb Staff Fantastic Cleanl...

In [14]:
Hostel_name=driver.find_elements_by_xpath('//h2[@class="title title-6"]')
name=[]
for i in Hostel_name:
    name.append(i.text)
    
Distance=driver.find_elements_by_xpath('//span[@class="description"]')
dist=[]
for i in Distance:
    dist.append(i.text)
    
Total_Reviews=driver.find_elements_by_xpath('//div[@class="reviews"]')
reviews=[]
for i in Total_Reviews:
    reviews.append(i.text.replace("Total Reviews",' '))
    
Overall_Reviews=driver.find_elements_by_xpath('//div[@class="keyword"]')
review=[]
for i in Overall_Reviews:
    review.append(i.text) 
    
Privates_from_price=driver.find_elements_by_xpath('//div[@class="price-col"]')
price=[]
for i in Privates_from_price:
    price.append(i.text.replace('Privates From\n',' '))
price
Privates=price[0:60:2]

Dorms_from_price=driver.find_elements_by_xpath('//div[@class="price-col"]')
Price=[]
for i in Dorms_from_price:
    Price.append(i.text.replace('Dorms From\n',' '))
Price
Dorms=Price[1:60:2]

Facilities=driver.find_elements_by_xpath('//div[@class="rating-factors prop-card-tablet rating-factors small"]')
facilities=[]
for i in Facilities:
    facilities.append(i.text.replace('\n',' '))

In [15]:
Hostel3=pd.DataFrame()
Hostel3['Hostel_name']=name
Hostel3['Distance']=dist
Hostel3['Total_Reviews']=reviews
Hostel3['Overall_Reviews']=review
Hostel3['Privates_from_price']=price[0:60:2]
Hostel3['Dorms_from_price']=Price[1:60:2]
Hostel3['Facilities']=facilities
Hostel3

,Hostel_name,Distance,Total_Reviews,Overall_Reviews,Privates_from_price,Dorms_from_price,Facilities
0,Barry House,Bed and Breakfast - 4.2km from city centre,2,No Rating,Rs6091,No Dorms Available,
1,Hyde Park Court Hotel,Hotel - 4.3km from city centre,136,No Rating,Rs5850,No Dorms Available,
2,All Star Private Studios,Apartment - 9.1km from city centre,150,Rating,Rs4130,Rs1755,Nice Location
3,Britannia Inn Hotel,Hotel - 14.5km from city centre,17,Superb,Rs3820,No Dorms Available,Wonderful Location Superb Staff Fantastic Clea...
4,Fairway Hotel,Bed and Breakfast - 3.3km from city centre,44,No Rating,Rs5919,No Dorms Available,
5,Heathrow LHR Apartments,Bed and Breakfast - 23km from city centre,23,Superb,Rs5128,No Dorms Available,Perfect Location Superb Staff Fantastic Cleanl...
6,City Space,Hotel - 2.9km from city centre,1 Total Review,No Rating,Rs5947,No Dorms Available,
7,Park Hotel,Hotel - 4.9km from city centre,0,No Rating,Rs5162,No Dorms Available,
8,Golders Park Hotel,Hotel - 10.4km from city centre,0,No Rating,Rs8982,No Dorms Available,
9,Hotel Shepherds Bush London,Hotel - 7.6km from city centre,0,No Rating,Rs6705,No Dorms Available,
10,Tony's House Hotel,Hotel - 4.3km from city centre,406,Superb,Rs7433,No Dorms Available,Perfect Location Superb Staff Excellent Cleanl...
11,The W14 Hotel & Bar,Hotel - 6.5km from city centre,275,Rating,Rs6160,No Dorms Available,Wonderful Location Excellent Cleanliness
12,London Town Hotel,Hotel - 5.4km from city centre,61,No Rating,Rs6435,No Dorms Available,
13,The Crystal Lodge Hotel,Hotel - 11.4km from city centre,12,No Rating,Rs4543,No Dorms Available,
14,TLK Apartments & Hotel,Hotel - 19.9km from city centre,0,No Rating,Rs5550,No Dorms Available,
15,Beaconsfield,Hotel - 8.6km from city centre,28,No Rating,Rs4336,No Dorms Available,
16,Airways Hotel Victoria London,Hotel - 2.1km from city centre,46,Good,Rs6126,No Dorms Available,Perfect Location Helpful Staff
17,Elmwood Hotel,Hotel - 3.2km from city centre,111,No Rating,Rs4818,No Dorms Available,
18,Victor Hotel,Hotel - 1.8km from city centre,2,No Rating,Rs7929,No Dorms Available,
19,Best Western Boltons London Kensington,Hotel - 5.4km from city centre,2,Rating,Rs11447,No Dorms Available,
20,Kip Hotel,Hotel - 6.8km from city centre,50,Fabulous,Rs3992,No Dorms Available,Perfect Location Superb Staff Fantastic Cleanl...
21,The Dover,Hotel - 1.9km from city centre,4,No Rating,Rs7227,No Dorms Available,
22,Park Hotel Essex,Hotel - 24.1km from city centre,108,No Rating,Rs4130,No Dorms Available,
23,Cranbrook Hotel,Hotel - 14.8km from city centre,58,No Rating,Rs3613,No Dorms Available,
24,St. Athans,Bed and Breakfast - 2.9km from city centre,234,No Rating,Rs3895,No Dorms Available,
25,Aron Guest House,Bed and Breakfast - 13.1km from city centre,26,No Rating,Rs6711,No Dorms Available,

In [16]:
df=pd.concat([Hostel,Hostel2,Hostel3],ignore_index=True)
df

,Hostel_name,Distance,Total_Reviews,Overall_Reviews,Privates_from_price,Dorms_from_price,Facilities
0,St Christopher's Village,Hostel - 1.8km from city centre,10814,Fabulous,Rs3579,Rs1435,Perfect Location Superb Staff Fantastic Cleanl...
1,Generator London,Hostel - 3km from city centre,6729,Very Good,Rs8156,Rs1962,Perfect Location Marvellous Staff Awesome Clea...
2,"PubLove @ The Crown, Battersea",Hostel - 4.7km from city centre,204,Very Good,No Privates Available,Rs1239,Wonderful Location Superb Staff Excellent Clea...
3,Leman House,Hostel - 3.6km from city centre,13,No Rating,Rs5575,No Dorms Available,
4,247london Hostel and Private Rooms,Hostel - 8.2km from city centre,443,No Rating,Rs5265,No Dorms Available,
...,...,...,...,...,...,...,...
81,The Dover,Hotel - 1.9km from city centre,4,No Rating,Rs7227,No Dorms Available,
82,Park Hotel Essex,Hotel - 24.1km from city centre,108,No Rating,Rs4130,No Dorms Available,
83,Cranbrook Hotel,Hotel - 14.8km from city centre,58,No Rating,Rs3613,No Dorms Available,
84,St. Athans,Bed and Breakfast - 2.9km from city centre,234,No Rating,Rs3895,No Dorms Available,
85,Aron Guest House,Bed and Breakfast - 13.1km from city centre,26,No Rating,Rs6711,No Dorms Available,